<%- include header %>
    <div class="index-post wrapBox">
        <% if(user && (user.name == post.name)) { %>
            <p class="editBox">
                <span><a href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
                <span><a href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
            </p>
        <% } %>
        <p class="post-info">
            作者：<a href="/user/<%= post.name %>"><%= post.name %></a>  |
            日期：<%= post.time.minute %>  |
            标签：
            <% post.tags.forEach(function(tag){ %>
                <% if(tag){ %>
                    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                <% } %>
            <% }) %>
        </p>
        <p><%- post.post %></p>
        <p class="statistics">阅读：<%= post.pv %>  |  评论：<%= post.comments.length %></p>
    </div>
<%- include comment %>
<%- include footer %>
