<%- include header %>
    <% posts.forEach(function(post){ %>
    <div class="index-post wrapBox">
        <p><a href="/user/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %> </a></p>
        <p class="post-info">
            作者：<a href="/user/<%= post.name %>"><%= post.name %></a>  |
            日期：<%= post.time.minute %>
        </p>
        <p><%- post.post %></p>
    </div>
    <% }) %>
<%- include footer %>


